
.user-data{
    padding: 5px;
    .card{
        width: 30%;
        float: left;
        margin: 5px;
        .header{
            background: $primary-color;
            border: 1px solid $secondary-color;
            padding: 5px;
            h3{
                padding: 0px;
                margin: 0px;
                color:$font-color;
            }
        }
        .content{
            border-top: 2px solid $shadow-color;
            .description{
                clear:both;
                label{
                    width: 45%;
                    float: left;
                    &.name{
                        color: $shadow-color;
                    }
                    &.value{
                        color: $font-color;
                    }
                }   
            }
        }
    }
}