/**
All variables declared here
**/
$font : 'Arial', 'serif';
$font1 : Arial;
$primary-color: rgba(255, 255, 255, 0.2);
$secondary-color: rgba(0, 0, 0, .8);
$shadow-color:#e71717;

$font-color:#fff;

