  <!-- left navigation content-->
  <nav>
    <ul>
      <li>
        <a routerLink="/utils" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/course" routerLinkActive="active">List Of Course's</a>
      </li>
      <li>
        <a routerLink="/professor" routerLinkActive="active">List of Professor's</a>
      </li>
      <li>
        <a routerLink="/event" routerLinkActive="active">Event</a>
      </li>
      <li>
        <a routerLink="/sponsor" routerLinkActive="active">Media Sponsors</a>
      </li>
    </ul>
  </nav>