<h1>
  List of Media Sponsors
</h1>

<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img src="../../../assets/images/3.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://www.facebook.com">Facebook</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img src="../../../assets/images/5.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://www.linkedin.com">LinkedIn</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img src="../../../assets/images/4.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://twitter.com">Twitter</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img src="../../../assets/images/1.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="https://www.instagram.com/">Instagram</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label2">
        <img src="../../../assets/images/2.png" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://google.com">Google</a>
      </p>
    </div>
  </div>
</div>
