<h1>
  Photo's of college events
</h1>

<section class="slideshow">
    <div class="content">
    <div class="container">
    <figure class="shadow"><img src="../../../assets/images/ch01_opener.jpg" alt="ch0_opener" title="Hotel Management"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch02_opener.jpg" alt="ch0_opener" title="Business"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch03_opener.jpg" alt="ch0_opener" title="Administator Service's"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch04_opener.jpg" alt="ch0_opener" title="Software and Hardware"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch05_opener.jpg" alt="ch0_opener" title="Economic"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch06_opener.jpg" alt="ch0_opener" title="History"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch07_opener.jpg" alt="ch0_opener" title="Leadership and Management"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch08_opener.jpg" alt="ch0_opener" title="Human Resource"/></figure>
    <figure class="shadow"><img src="../../../assets/images/ch09_opener.jpg" alt="ch0_opener" title="Medical"/></figure>
    
    </div>
    </div>
    </section>
    