/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables';
@import 'assets/scss/font';
@import 'assets/scss/card';


*{
    margin: 0em;
    padding: 0em;
}

body{
    margin: 0em;
    padding: 0em;
    background-image: url('assets/images/emo-IMG_7926.jpg');
    background-size: 100vw 100vh;
    font-family: $font;
    background-repeat: no-repeat;
}
h1{
    margin: 0em 0em 1em 0em;
    background: $secondary-color;
    color: $font-color;
    padding:0.2em;
}

a{
    color: $secondary-color;
    font-family: $font1;
    text-decoration: none;
    &:hover{
        color:$shadow-color;
    }
}


.clear{
    clear: both;
}


button{
    border: 1px solid $shadow-color;
    background: $primary-color;
    font-family: $font;
    color: $font-color;
    padding: 3px 5px;
}